.event-container {
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(212, 14, 14);
  }

  .event-wrapper {
    width: 100%;
    width: 100%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    .event-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .event {
      display: flex;
      justify-content: flex-start;
      width: 80%;
      margin: 60px auto;
      .event-image {
        width: 50%;
        height: 50%;
        max-width: 250px;
        max-height: 200px;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .event-content {
        margin-left: 20px;
        .event-title {
          font-size: 24px;
          margin-bottom: 10px;
          > span {
            font-size: 28px;
            font-weight: bold;
          }
        }
        .event-info {
          color: #f1f1f1;
          .event-list-info {
            list-style: disc;
            margin-left: 20px;
            li {
              > span {
                font-size: 20px;
                font-weight: bold;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  .event-paging {
    padding: 15px;
    text-align: center;
    color: #f1f1f1;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    .page-item {
      border: 2px solid #f1f1f1;
      padding: 5px;
      border-radius: 4px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}
