.home-wrapper {
  display: flex;
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.history {
  width: 100%;
  padding: 15px;
  .history-content {
    margin-top: 20px;
    text-align: center;
    color: #f1f1f1;
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
    }
    .history-desc {
      color: #131313;
      text-align: center;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      margin: 18px auto;
      font-size: 20px;
    }
  }
}
.home-imgs {
  width: 100%;
  text-align: center;
  .img-one {
    margin: 65px 0 10px;
  }
}
.home-info {
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  .how-to-join {
    margin-top: 20px;
    position: relative;
    min-height: 100px;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    .join-desc {
      color: #131313;
      text-align: center;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      margin: 18px auto;
      font-size: 20px;
    }
  }
  .home-contact {
    text-align: center;
    margin-top: 120px;
    color: #f1f1f1;
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    .contact-info {
      color: #131313;
      text-align: center;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      margin: 18px auto;
      font-size: 20px;
    }
  }
}

.sad-icon {
  display: block;
  margin: 10px auto;
  fill: #ffad00;
  font-size: 24px;
}
