.container {
  width: 87%;
  height: 500px;
  margin: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 0px;
  box-shadow: 1px 1px 3px 1px #353535;
  background-image: linear-gradient(#e00001 10%, #cc0000 50%, #a70100 80%);
  display: flex;
  justify-content: space-around;
}

.history {
  width: 100%;
  margin: 15px;
  .history-content {
    margin-top: 20px;
    text-align: center;
    color: #f1f1f1;
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
    }
    .history-desc {
      color: #131313;
      text-align: center;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      margin: 18px auto;
      font-size: 20px;
    }
  }
}
.home-imgs {
  width: 100%;
  text-align: center;
  .img-one {
    margin: 65px 0 10px;
  }
}
.home-info {
  margin: 15px;
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  .how-to-join {
    margin-top: 20px;
    position: relative;
    min-height: 100px;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    .join-desc {
      color: #131313;
      text-align: center;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      margin: 18px auto;
      font-size: 20px;
    }
  }
  .home-contact {
    text-align: center;
    margin-top: 120px;
    color: #f1f1f1;
    position: relative;
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    .contact-info {
      color: #131313;
      text-align: center;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      margin: 18px auto;
      font-size: 20px;
    }
  }
}

.sad-icon {
  display: block;
  /* text-align: center; */
  margin: 10px auto;
  fill: #ffad00;
  font-size: 24px;
}
