@import url("https://fonts.googleapis.com/css?family=Roboto|Staatliches&display=swap");

// APP RESET ===========================
html,
body {
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
// navbar
.navbar {
  display: block;
}
.mobile-navbar {
  display: none;
}
// APP CONTAINER ======================
.container {
  width: 87%;
  min-height: 500px;
  margin: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 0px;
  box-shadow: 1px 1px 3px 1px #353535;
  background-image: linear-gradient(#e00001 10%, #cc0000 50%, #a70100 80%);
  display: flex;
  justify-content: space-around;
  position: relative;
  .go-back {
    text-align: center;
    border: 0;
    width: 50px;
    height: 50px;
    line-height: 57px;
    border-radius: none;
    margin: 5px auto;
    position: absolute;
    top: 0;
    left: 0;
    .go-back-icon {
      color: #f1f1f1;
      margin-left: 25px;
      margin-top: 25px;
      cursor: pointer;
    }
  }
}

.error {
  margin-top: 10px;
  font-size: 18px;
  color: #f1f1f1;
  text-align: center;
}
// responsive design
@media screen and (max-width: 1200px) {
  .container {
    font-size: 14px;
    flex-direction: column;
    .go-back {
      text-align: center;
      width: 50px;
      height: 50px;
      border: 0;
      border-radius: none;
      position: absolute;
      top: 0%;
      .go-back-icon {
        color: #f1f1f1;
        margin-left: 0;
        margin-top: 0;
        cursor: pointer;
      }
    }
  }

  .footer {
    display: none;
  }
  // poem =======================
  .poem-image {
    width: 40%;
    position: initial;
    transform: none;
    margin: 10px auto;
    top: unset;
    left: unset;
  }
  .selection-content {
    height: 60%;
    margin-top: 60px;
    width: 100%;
  }
  .form-wrapper {
    margin: 40px auto;
    width: 50%;
  }
  .left-form {
    width: 100%;
    position: initial;
    top: unset;
    left: unset;
    position: relative;
    .field {
      .poem-label {
        width: 30%;
        margin: 10px 0;
      }
      .input-field {
        width: 100%;
      }
      .input-file {
        width: 100%;
      }
    }
    .img-thumb-wrapper {
      top: -10%;
      left: 0;
      width: 30px;
      height: 30px;
    }
  }
  .right-form {
    width: 100%;
    position: initial;
    top: unset;
    left: unset;
    .field {
      .poem-label {
        width: 30%;
        margin: 10px 0;
      }
      .input-field {
        width: 100%;
      }
      .textarea {
        min-height: 300px;
        min-width: 300px;
        max-width: 100%;
      }
    }
  }

  // home =======================
  .home-wrapper {
    flex-direction: column;
    .history {
      .history-content {
        margin-top: 60px;
        .loader {
          position: unset;
          margin: 30px;
          transform: none;
        }
      }
    }

    .home-info {
      .how-to-join {
        .loader {
          position: unset;
          margin: 30px;
          transform: none;
        }
      }
      .home-contact {
        .loader {
          position: unset;
          margin: 30px;
          transform: none;
        }
      }
    }
  }

  .home-imgs {
    .img-one,
    .img-two {
      margin: 10px 0;
    }

    .img-one {
      > img {
        width: 50%;
      }
    }

    .img-two {
      > img {
        width: 50%;
      }
    }
  }

  .home-info {
    .home-contact {
      margin-top: unset;
    }
  }
}

@media screen and (max-width: 968px) {
  // carousel =====================
  .caroulsel-wrapper {
    display: none;
  }

  // navigation bar ===============
  .navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
    top: 0;
    position: absolute;
  }

  // main container ===============
  .container {
    width: 100%;
    margin-top: 0;
    position: absolute;
    min-height: 100%;
    .form-wrapper-event {
      margin-top: 0;
    }
    .go-back {
      text-align: center;
      border: 3px solid #f1f1f1;
      width: 50px;
      height: 50px;
      line-height: 57px;
      border-radius: 50%;
      position: unset;
      margin: 10px auto;
      .go-back-icon {
        color: #f1f1f1;
        margin-left: 0;
        margin-top: 0;
        cursor: pointer;
      }
    }
  }

  // event ========================
  .event-container {
    .event-wrapper {
      .event {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .event-image {
          width: 55%;
          height: 55%;
          max-width: unset;
          max-height: unset;
        }
        .event-content {
          width: 55%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // event ========================
  .container {
    position: absolute;
    min-height: 100%;
  }
  .wall-container {
    height: unset;
  }
  .event-container {
    .event-wrapper {
      .event {
        justify-content: center;
        .event-image {
          width: 90%;
        }
        .event-content {
          width: 90%;
          .event-title {
            font-size: 14px;
            > span {
              font-size: 18px;
              font-weight: bold;
            }
          }
          .event-info {
            .event-list-info {
              > li {
                font-size: 14px;
                span {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  // poem =====================
  .poem-image {
    width: 90%;
    text-align: center;
    > img {
      height: 100%;
      width: 100%;
    }
  }
  .form-wrapper {
    width: 90%;
  }
  .right-form {
    .field {
      .textarea {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

  // form login
  .form-login {
    .login-input {
      width: 100%;
      height: 50px;
    }
    .submit-input {
      width: 200px;
      height: 50px;
    }
  }

  // admin
  .container {
    .go-back {
      text-align: center;
      border: 3px solid #f1f1f1;
      width: 50px;
      height: 50px;
      line-height: 57px;
      border-radius: 50%;
      margin: 10px auto;
      .go-back-icon {
        color: #f1f1f1;
        margin-left: 0;
        margin-top: 0;
        cursor: pointer;
      }
    }
    .items-wrapper {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .form-wrapper-event {
      width: 90%;
      margin: auto;
      margin-top: 0;
      .field {
        width: 100%;
        margin: auto;
      }
    }
  }
  .container.create-event-container {
    max-height: unset;
  }
}
