@import url("https://fonts.googleapis.com/css?family=Roboto|Staatliches&display=swap");

// APP RESET ===========================
html,
body {
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// APP CONTAINER ======================
.container {
  width: 87%;
  height: 500px;
  margin: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 0px;
  box-shadow: 1px 1px 3px 1px #353535;
  background-image: linear-gradient(#e00001 10%, #cc0000 50%, #a70100 80%);
  display: flex;
  justify-content: space-around;
  position: relative;
}
